<footer>
    
    <div id="imageSection">
    </div>

    <div id="copySection">
        <div class="sectionDiv">
            
            <div>
                <h3>Campus Community by Microsoft Learn Student Ambassadors</h3>
                <p>Walter-Gropius Straße 5<br/>
                    80807 Munich<br/>
                    Germany</p>
                <p id="copyInfo">&copy; {year}</p>
            </div>
            
            <div>
                <h3>Channels</h3>
                <a href="https://www.linkedin.com/company/microsoft-campus-community" title="MCC on LinkedIn"><p>LinkedIn</p></a>
                <a href="https://www.meetup.com/Hamburger-Technology-Meetup/" title="MCC on meetup.com"><p>MeetUp</p></a>
                <a href="https://www.campus-community.org/youtube" title="MCC on YouTube"><p>YouTube</p></a>
            </div>

            <div>
                <h3>Get in Touch</h3>
                <a href="mailto:tobias.urban@campus-community.org" title="Send us an Email"><p>E-Mail</p></a>
                <a href="https://www.twitter.com/MCC_community" title="MCC on Twitter"><p>Twitter</p></a>
            </div>

            <div>
                <h3>Legal</h3>
                <a href="legal.html" title="See our Site Notice"><p>Site Notice</p></a>
                <a href="privacy.html" title="See our Privacy Policy"><p>Privacy & Cookies</p></a>
            </div>

        </div>
    </div>
</footer>