<header>
    <div id="navBar">
        <div id="navBarLogoContainer">
            <a href="/" title="MCC Homepage"><!--img src="Assets/logo.png" alt="MCC Logo Link to the Homepage"--></a>
        </div>
        <div id="navBarCenterSpacing"></div>
        <nav id="navMenu">
            <span><a href="/mission">Our Mission</a></span>
            <span><a href="/team">The Team</a></span>
            <span><a href="/calendar">Events</a></span>
            <span><a href="/join" class="mccRed">Join Now</a></span>
        </nav>
        <div class="menuIconContainer">
            <a href="#navMenu" onclick="closeMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </a>
        </div>    
    </div>
</header>