<section>
    <div class="sectionDiv applicationDiv boxShadow">
        <h3 class="applicationSlogan">NICE TO MEET YOU!</h3>
        <div class="centerContent">
            <div class="hexagon"><span></span></div>
        </div>
        <h2 class="highlightHeader textCentered">Meet the Community</h2>
        <div class="centerContent">
            <p class="boxImageParagraph textCentered">Build your network and get ready to start your career in the world of IT. Grow steadily to reach your fullest potential by becoming a better version of yours every day.</p>
        </div>
        <div class="centerContent">
            <a class="link textCentered" href="/calendar">LOOK AT THE EVENTS</a>
        </div>
    </div>
</section>