<section id="introSection">
    <div class="sectionDiv">
        <div id="introText">
            <p id="pageTitle" class="mccBlue">EVENTS</p>
            <h1>Join a MLSA Campus Community Event near you</h1>
        </div>
</section>

<!--section id="sortBy">
    <div class="sectionDiv">
        <h5>All Events</h5>
    </div>
</section-->

<section id="eventList">
    <div class="sectionDiv showOnScroll">
        <h2>All Events</h2>
        <a href="/BotWorkshop">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccBlue">
                    <p>16.02.2021</p>
                    <p>WORKSHOP</p>
                    <p>ONLINE</p>
                </div>

                <div class="eventTitle mccBlue">
                    <p>Building a Shopping List with a Sprinkle of Intelligence</p>
                </div>

                <div class="eventIntroText">
                    <p>Together we will build a chatbot.</p>
                </div>
            </div>
        </a>
        

        <br />

        <h2>Past Events</h2>
        <a href="/LecturesAtHome">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccBlue">
                    <p>04.02.2021</p>
                    <p>EVENT SERIES</p>
                    <p>ONLINE</p>
                </div>

                <div class="eventTitle mccBlue">
                    <p>L@H - Introspecting app performance in Kubernetes.</p>
                </div>

                <div class="eventIntroText">
                    <p>Why do my pods keep dying?</p>
                </div>
            </div>
        </a>
        <a href="/PowerPlatformWorkshop">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccBlue">
                    <p>22.01.2020</p>
                    <p>ONLINE EVENT</p>
                    <p>ONLINE</p>
                </div>

                <div class="eventTitle mccBlue">
                    <p>Power Platform Workshop</p>
                </div>

                <div class="eventIntroText">
                    <p>Low-Code / No-Code Development for All!</p>
                </div>
            </div>
        </a>

        <a href="/DigitalLearning">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccGreen">
                    <p>14.05.2020</p>
                    <p>EVENT SERIES</p>
                    <p>ONLINE</p>
                </div>

                <div class="eventTitle mccGreen">
                    <p>Digital Learning</p>
                </div>

                <div class="eventIntroText">
                    <p>Discover the possibilities of digital learning in this online only event by the MLSA Campus Community. Discover how teachers like Sabine Thierfelder and Matthias Thiede integrate tools into their teaching and expand the possibilities of learning for their students. Dive in with us into the world of teaching and learning solutions and test out different methods and approaches to create your virtual classroom.</p>
                </div>
            </div>
        </a>

        <a href="Legacy/mlhLocalHackDay.html">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccRed">
                    <p>11.04.2020</p>
                    <p>HACKATHON</p>
                    <p>ONLINE</p>
                </div>

                <div class="eventTitle mccRed">
                    <p>Local Hack Day</p>
                </div>

                <div class="eventIntroText">
                    <p>The Campus Community by MLSA invites you to join us for MLH's Local Hack Day: Share Day. Share Day is a global demo day focused on highlighting the achievements of your community. Over the course of 12 hours, attendees will put the finishing touches on their current projects and participate in a global project showcase.</p>
                </div>
            </div>
        </a>

        <a href="/insideMicrosoft">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccBlue">
                    <p>03.04.2020</p>
                    <p>ONLINE EVENT</p>
                    <p>ONLINE</p>
                </div>

                <div class="eventTitle mccBlue">
                    <p>Inside Microsoft</p>
                </div>

                <div class="eventIntroText">
                    <p>The Campus Community by MLSA invites you to join an online conference of a different kind. Our community aims at connecting tech-enthusiastic students with experts and faciliate learning and networking. We will invite experts to give you insights into their daily business, their roles and the workings of Microsoft.</p>
                </div>
            </div>
        </a>

        <a href="https://www.tc-hamburg.com">
            <div class="eventListBox boxShadow">
                <div class="eventDate mccGreen">
                    <p>11.12.2020</p>
                    <p>CONFERENCE</p>
                    <p>CAMPUS HAMBURG</p>
                </div>

                <div class="eventTitle mccGreen">
                    <p>Technology Conference Hamburg Fall 2019</p>
                </div>

                <div class="eventIntroText">
                    <p>Die TCH bietet schon seit über drei Jahren Technik-Wissen mit kostenlosen Vorträgen, Live-Demos und Workshops zu aktuellen Themen aus der Softwareentwicklung und dem IT-Professional Bereich. Außerdem erhaltet ihr Information zu Berufseinstieg und −weiterentwicklung.</p>
                </div>
            </div>
        </a>
    </div>
</section>

<!-- End Events -->

<%- include('partials/highlight'); -%>