<section id="introSection">
    <div class="sectionDiv">
        <div id="introText">
            <p id="pageTitle" class="mccBlue">OUR MISSION</p>
            <div class="showOnScroll">
                <h1>Together, we empower students <br> to become visionary experts who will shape the future of technology.</h1>
                <div class="centerContent">
                    <p class="boxedText textCentered">Inspire, Learn and Develop are the three principles building the foundation for our mission. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="inspireSection" class="showOnScroll">
    <div class="sectionDiv pictureSection boxShadow">
        <div class="squareImg">
            <img class="cover" src="Assets/Images/Community/MeinMind1a.jpg" alt="Inspire and be inspired">
        </div>
        <div class="narrowTextDiv">
            <h3 class="boxImageSlogan">OUR THREE PRINCIPLES</h3>
            <h1 class="boxImageHeader">01. <br>Inspire</h2>
            <p class="boxImageParagraph">Get inspired by the world of IT: Develop new skills with the help of the Microsoft Campus Community. Start your projects and support others by using your new skills.</p>    
        </div>
    </div>
</section>

<section id="learnSection" class="showOnScroll">
    <div class="sectionDiv pictureSection flexReverse boxShadow">
        <div class="squareImg">
            <img class="cover" src="Assets/Images/Community/New.JPG" alt="Develop your skills">
        </div>
        <div class="narrowTextDiv">
            <h3 class="boxImageSlogan">OUR THREE PRINCIPLES</h3>
            <h1 class="boxImageHeader">02. <br>Learn</h2>
            <p class="boxImageParagraph">Use the opportunity to expand your skillset in emerging fields of technology. Acquire new knowledge in a team through workshops and provided resources.</p>    
        </div>
    </div>
</section>

<section id="developSection" class="showOnScroll">
    <div class="sectionDiv pictureSection boxShadow">
        <div class="squareImg">
            <img class="cover" src="Assets/Images/Community/DSC04751.JPG" alt="Learn at workshops">
        </div>
        <div class="narrowTextDiv">
            <h3 class="boxImageSlogan">OUR THREE PRINCIPLES</h3>
            <h1 class="boxImageHeader">03. <br>Develop</h2>
            <p class="boxImageParagraph">Take responsibility, acquire leadership skills and get ready to start your career in the world of IT. Grow steadily to reach your fullest potential by staying curious and becoming a better version of yours every day.</p>    
        </div>
    </div>
</section>

<%- include('partials/highlight'); -%>