<section id="introSection">
    <div class="sectionDiv">
        <div id="introText">
            <p id="pageTitle" class="mccBlue">THE TEAM</p>
            <div class="showOnScroll">
                <h1>Meet our Community</h1>
            </div>
        </div>
    </div>
</section>

<section id="campusSection" class="showOnScroll">
    <div class="sectionDiv pictureSection boxShadow">
        <div class="squareImg">
            <img class="cover" src="Assets/Images/Community/DSC04795.JPG" alt="See our campus activites">
        </div>
        <div class="narrowTextDiv">
            <h3 class="boxImageSlogan">Organization</h3>
            <h1 class="boxImageHeader">This is a Campus</h2>
            <p class="boxImageParagraph">Connect to local members at your campus! Organize events at your university, get together and create unique projects!</p>    
        </div>
    </div>
</section>

<section id="mapSection" class="showOnScroll">
    <div class="sectionDiv pictureSection boxShadow">
        <div class="narrowTextDiv">
            <h3 class="boxImageSlogan">Organization</h3>
            <h1 class="boxImageHeader">Our Hubs</h2>
            <p class="boxImageParagraph">Multiple campuses within a region together build a Hub. Plan and organize with members from other campuses, universities or even cities!</p>    
        </div>
        <div class="squareImg">
            <img class="cover" src="Assets/Images/Community/collage.png" alt="Get an impression of our Community">
        </div>
    </div>
</section>

<%- include('partials/highlight'); -%>