:root {
    /* Colors */
    --shadow-mcc-hexagon: 0 0 20px rgba(0,0,0,0.7);
    /* Sizes */
    --width-mcc-hexagon: 106.07px;
    --height-mcc-hexagon-tri: -53.0330px;
    --transform-mcc-hexagon: scaleY(0.5774) rotate(-45deg);
}

.applicationDiv{
    padding: 45px 0;
    margin: 100px auto 100px;
}

.applicationSlogan{
    font-size: 10px;
    letter-spacing: 2px;
    color: var(--color-mcc-blue);
    text-align: center;
    margin-bottom: 45px;
}

.highlightHeader {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.hexagon {
    position: relative;
    width: 150px; 
    height: 86.60px;
    background-color: var(--color-mcc-white);
    margin: 43.30px 0;
    box-shadow: var(--shadow-mcc-hexagon);
}
  
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: var(--width-mcc-hexagon);
  height: var(--width-mcc-hexagon);
  -webkit-transform: var(--transform-mcc-hexagon);
  -ms-transform: var(--transform-mcc-hexagon);
  transform: var(--transform-mcc-hexagon);
  background-color: inherit;
  left: 21.9670px;
  box-shadow: var(--shadow-mcc-hexagon);
}
  
.hexagon:before {
    top: var(--height-mcc-hexagon-tri);
}
  
.hexagon:after {
    bottom: var(--height-mcc-hexagon-tri);
}
  
/*cover up extra shadows*/
.hexagon span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:150px;
    height:86.6025px;
    z-index: 2;
    background: inherit;
}

@media screen and (min-width: 1144px) {
    .highlightHeader {
        font-size: 70px;
        line-height: 60px;
    }
}